:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-page: #222a4e;
  --color-cart: #232324;
}

body {
  padding: 0;
  margin: 0;
  background-color: var( --color-page);
  min-height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

*,
::after,
::before {
  box-sizing: border-box;
}

#app {
  width: 100%;
  max-width: max(min(600px, 90vw), 300px);
  margin: auto;
  padding: max(min(50px, 6vw), 35px);
  text-align: center;
}